$color-white: #ffffff;
$color-black: #000000;

$color-primary: #7a284e;
$color-primary-light: #fff7fb;
$color-primary-dark: #854632;

$color-secondary: #5f564d;
$color-secondary-light: #e3ddd7;
$color-secondary-dark: #854632;

$font-family-primary: 'YoungSerif', serif;
$font-family-secondary: 'Outfit', sans-serif;

$font-size-large: 36px;
$font-size-medium: 20px;
$font-size-regular: 16px;

$padding-default: 24px;
$margin-default: 24px;

$border-radius-default: 24px;